.cards{
  width: auto;
  display: flex;
  gap: 10px;
  align-items: center;
  height: auto;
  padding-bottom: 30px;
}

@media (max-width:600px){
  
  .cards{
    overflow-x: scroll;
  }
  .cards>div{
    flex: 1 0 auto
  }
}
